* { 
	box-sizing: border-box; 
} 
body { 
	margin: 0;
	font-family: Geneva, sans-serif; 
} 

.container {
	width: 100%;
	margin: 0 auto;
	padding: 0 15px 0 15px;
}

.section-main {
	background-color: #8e3ddb;
	color: white;
	min-height: 900px;
}

